body {
	@apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-200 font-light;
}

.prose video {
	@apply rounded-md w-full;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
