body {
	@apply bg-white text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200 font-mono font-light;
}

.no-pre-margin pre {
	margin: 0;
}

.prose video {
	@apply rounded-md w-full;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}
